<.header>
  New Timesheet
  <:subtitle>Use this form to manage timesheet records in your database.</:subtitle>
</.header>

<.timesheet_form changeset={@changeset} action={~p"/timesheets"} admin={@current_user.admin} />

<.back navigate={~p"/timesheets"}>Back to timesheets</.back>
