<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta name="description" content="The administration page for ACAP" />
    <.live_title suffix=" · ACAP">
      <%= assigns[:page_title] || "Admin" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>

    <script
      :if={assigns[:assets_js_path]}
      defer
      phx-track-static
      type="text/javascript"
      src={assigns[:assets_js_path]}
    >
    </script>
  </head>
  <script is:inline>
    // ☝️ This script prevent the FART effect.
    if (localStorage.getItem("theme") === null) {
      document.documentElement.setAttribute("data-theme", "light");
    } else
    document.documentElement.setAttribute("data-theme", localStorage.getItem("theme"));
  </script>

  <body class="antialiased">
    <.admin_header_nav current_user={@current_user} />
    <%= @inner_content %>
    <.footer />
  </body>
</html>
